body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

/* <!-- Hero Section --> */

.hero {
  height: 90vh;
  position: relative;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero > div {
  position: absolute;
  background: rgba(128, 128, 128, 0.377);
  width: 550px;
  top: 30vh;
  left: 10vw;
  padding: 1rem;
  border-radius: 10px;
  color: wheat;
  backdrop-filter: blur(4px);
}

.down {
  font-size: 5rem;
  font-weight: bold;
  color: red;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: rotate(90deg);
  animation: goDown 1s infinite;
}

@keyframes goDown {
  0% {
    bottom: 100px;
    left: 50%;
  }
  100% {
    bottom: 1px;
    left: 50%;
  }
}

/* <!-- NavBar --> */
nav {
  background: black;
  color: wheat;
  position: sticky;
  top: 0;
}

nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  padding: 0.5 rem;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li {
  list-style-type: none;
}

nav ul li:hover {
  color: red;
  transform: scale(1.3);
  cursor: pointer;
  transition: all 0.5s;
}

/* <!-- Paragraph --> */

/* <!-- Image --> */
[class^="img"] {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  background: url(./assets/a.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img2 {
  background: url(./assets/b.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img3 {
  background: url(./assets/c.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.img4 {
  background: url(./assets/d.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  background: rgba(0, 0, 0, 0.616);
  color: white;
  font-size: 2rem;
  padding: 1.4rem 5rem;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 4rem;
}
